<div class="container vpad--xxl">
  <h3 class="title title--xl text--center">Latest Offers</h3>
  <div class="space--xl"></div>
  <div class="row row--xl-6-6 row--gutters-lg">
    {% include offer/variables.html %}
    {% for offer in offers | limit: 2 %}
    <div class="col">
      {% include offer/offer-rc.html %}
    </div>
    {% endfor %}
  </div>
  <div class="space--xxl"></div>
  <div class="text--center">
    <a href="https://www.royalcaribbean.co.uk/holiday-destinations/caribbean-holidays/" class="btn btn--lg btn--cyan">See All Cruises</a>
  </div>
</div>