<div class="vpad--xxxxl bg--img text--white bg--dark" style="background-image: url('{{site.img}}/content/promo-itineraries-bg.jpg');">
  <div class="container">
    <div class="width--xl">
      <h2 class="title title--xxl">Latest Offers</h2>
      <p class="text--xl text--normal vpad--xxs width--lg">Browse unmissable cruise itineraries here. Don’t forget, select offers include all-inclusive deluxe drinks plus buy one fare and get the other half-price! Find your winter-sun getaway below, but hurry – offer ends November 5th!</p>
      <div class="space--sm"></div>
      <a id="track-banner-see-all-itineraries" href="{{page.promo-itineraries-link}}" class="btn btn--lg btn--cyan">See All Cruises</a>
    </div>
  </div>
</div>