<div class="vpad--xxxxl bg--img text--white bg--dark" style="background-image: url('{{site.img}}/content/promo-itineraries-bg.jpg');">
  <div class="container">
    <div class="width--xl">
      <h2 class="title title--xxl">Latest Offers</h2>
      <p class="text--xl text--normal vpad--xxs width--lg">Get ready to splash out, with up to $600 onboard spend with selected 2019 sailings from the Caribbean. Whether you kick back in the spa, thrill out at an excursion or embark on a culinary journey at one of the fabulous speciality restaurants, there’s plenty of remarkable experiences to choose from. But hurry, offers end 17th December 2018.</p>
      <div class="space--sm"></div>
      <a id="track-banner-see-all-itineraries" href="{{page.promo-itineraries-link}}" class="btn btn--lg btn--cyan">See All Cruises</a>
    </div>
  </div>
</div>