---
layout: default
id: cruise
title: Cruise
nav: true
nav-order: 3
content-pages: true

intro: It’s time to stop thinking about where to holiday, and start thinking about how to holiday. Take the plunge and enjoy an extraordinary adventure with Royal Caribbean. Explore what makes a cruise the only way to discover the island life.
overview-intro: The holiday starts the moment you board. Find out what makes a Royal Caribbean cruise so unique...


topics:

  - id: thrills-chills
    title: Thrills & Chills
    description: Create your perfect day, day after day, with an array of onboard activities.
    link: https://www.royalcaribbean.co.uk/discover-cruise-holidays/onboard-activities?cid=UKRCIBN_SecretEscapes_LandingPage&phone=dispoth

    pois:

      - id: feel-the-rush
        title: Feel The Rush
        description: Whizz down Ultimate Abyss, the world’s highest dry slide at sea, on Symphony of the Seas(SM) and Harmony of the Seas®. Try the Zip Line® and glide across the Boardwalk, nine decks high. Or get that flying feeling on RipCord® by iFLY®, the skydiving simulator...
        included: true

      - id: hit-the-shops
        title: Hit the Shops
        description: Discover the stylish boutiques of the Esplanade such as Michael Kors, Kate Spade, Cartier and Bulgari*. Or feast your eyes on the sparkly delights of the first-ever Tiffany & Co at sea, in Central Park, the only tropical park at sea. *Retail outlets vary by ship
        included: true

      - id: treat-yourself
        title: Treat Yourself
        description: Enjoy an ice cream by one of the many pools, head through the landscaped beauty of Central Park for dinner or pick up your favourite coffee at our Starbucks – the only one that’s not on dry land.
        included: true

  - id: entertainment
    title: Award-winning Entertainment
    nav-title: Entertainment
    description: The latest technologies, the biggest shows and the hottest talent – combined to create an entertainment powerhouse, just for you.
    link: https://www.royalcaribbean.co.uk/discover-cruise-holidays/entertainment?cid=UKRCIBN_SecretEscapes_LandingPage&phone=dispoth

    pois:

      - id: take-your-seats
        title: Take Your Seats
        description: Be transported to another world by all the razzmatazz of the West End. You’ll find everything from Grease, Saturday Night Fever and Cats, to Abba’s Mamma Mia and We Will Rock You, with music by Queen. Whatever you see, Royal Caribbean have you dancing in the aisles.
        included: true

      - id: get-lucky
        title: Get Lucky
        description: Step inside Casino Royale and enjoy all the thrills of Las Vegas. Take a spin on the roulette wheel, try your luck on the slots or play your hand at blackjack. Poker pros can put their bluff to business in a tournament, while beginners get a lesson or two from one of the ship’s onboard experts.
        included: true

      - id: let-loose
        title: Let Loose
        description: Start with a spectacular ice show or jaw-dropping display of aerial acrobatics. Follow that with a few laps of the roller rink or a spin around the dodgems. Next, have a robotic bartender mix you the perfect cocktail and dance the night away at one of many fabulous nightclubs.

  - id: dining
    title: Dining
    description: Your table awaits you at an array of complimentary restaurants and cafés onboard. Whether you’re looking to indulge your sweet tooth or dine out in style, you’ll find the perfect bite is only ever a short stroll away. Speciality dining is also available at extra cost, for a truly special evening. Here is a selection of what is on offer.
    link: https://www.royalcaribbean.co.uk/discover-cruise-holidays/cruise-food?cid=UKRCIBN_SecretEscapes_LandingPage&phone=dispoth

    pois:

      - id: windjammer
        title: Windjammer
        description: Go global at the bountiful fusion buffet bar, always bursting with fresh, mouthwatering variety. All served with an incredible seascape view.
        included: true

      - id: main-dining-room
        title: Main Dining Room
        description: Take a seat in this elegant setting for exceptional, multi-course meals, accompanied by personal service from dedicated waiting staff.
        included: true

      - id: restaurants-at-sea
        title: Restaurants at Sea
        description: Choose from a selection of tempting restaurants, from steakhouse indulgence at Chops Grille, experimental dining at Wonderland, or sushi and pan-Asian favourites at Izumi. You’ll also find tempting bites from renowned chefs like Jamie Oliver, for a truly delicious experience.

  - id: unwind
    title: Unwind
    description: Meet a new you on your Royal Caribbean holiday, glowing all over with wellbeing and covered in luxurious Elemis spa products. The onboard health and beauty team are experts in the art of relaxation and can pamper you from head to toe.
    link: https://www.royalcaribbean.co.uk/discover-cruise-holidays/onboard-activities?cid=UKRCIBN_SecretEscapes_LandingPage&phone=dispoth

    pois:

      - id: refresh-and-recharge
        title: Refresh and Recharge
        description: Float away on a sea of pure bliss at the Vitality Spa. Soothe your body with an aromatic ocean wrap, melt away knots by choosing from one of many relaxing massages, tailor your tips with a perfect mani pedi and revive your skin with an oxygenating facial.

      - id: just-for-me-time
        title: Just-For-Me Time
        description: Relax in a host of whirlpools and hot tubs, pools and loungers, found across the ship. For a truly peaceful escape, head to the adult-only solarium, with its vast crystal canopy flooding the area with light. The cantilevered hot tub offers great views as you kick-back in hot-tub bliss...

      - id: flex-and-tone
        title: Flex and Tone
        description: Stretch it out with an hour of yoga or get the endorphins pumping with a high-octane spin session, just two of the classes available at the state-of-the-art fitness centre. Or, keep up your normal workout in the ship’s fully equipped gym or on the outdoor running track, complete with sea views. Then ease those tired muscles in the sauna.

  - id: time-to-play
    title: Time to Play!
    description: From the littlest toddlers to the coolest of teens, the award-winning Adventure Ocean® Youth Programme will keep them entertained, day and night. But the fun doesn’t end there; there’s plenty for the adults too!
    link: https://www.royalcaribbean.co.uk/discover-cruise-holidays/family-holidays?cid=UKRCIBN_SecretEscapes_LandingPage&phone=dispoth

    pois:

      - id: adventure-ocean
        title: Adventure Ocean
        description: Toddlers, kids and teens can be creative, learn new skills and make new friends at complimentary kids’ clubs. There’s a group for every age, each with a unique set of activities…
        included: true

      - id: game-on
        title: Game on
        description: Challenge your friends to a match at a selection of Sports Courts, or become the new Mini Golf champion. Head for the sky with unmissable Rock Climbing walls – there’s enough activities for everyone onboard a Royal Caribbean cruise.
        included: true

      - id: thrills
        title: Thrills
        description: Royal Caribbean ships are packed with a host of thrilling adventures. From water slides, play pools and zip lines, to ice rinks and more, the kids, and adults, will never be without another exciting ride to try.
        included: true

  - id: sweet-dreams
    title: Sweet Dreams
    description: No room, space or corner can be accused of being ‘plain ordinary’ on a Royal Caribbean ship. Whatever your budget, every inch is designed to wow you. And that includes staterooms.
    link: https://www.royalcaribbean.co.uk/discover-cruise-holidays/staterooms-and-suites?cid=UKRCIBN_SecretEscapes_LandingPage&phone=dispoth

    pois:

      - id: rest-assured
        title: Rest Assured
        description: Snuggle up in one of the comfy interior staterooms or opt for a balcony room where the whisper of the waves will lull you to sleep. With so many options, there’ll always be a spot on the ship that’s just right for you.

      - id: 24-7-service
        title: 24/7 Service
        description: Be their number-one priority – every room has a dedicated stateroom attendant. They’re at your beck and call, ready and willing at any time of the day or night to answer every need.

      - id: life-is-suite
        title: Life Is Suite
        description: As a Royal Suite Class guest, you’ll enjoy exclusive access to special dining options and luxurious extras onboard select Quantum and Oasis Class ships.
        included: true
---

<div class="container vpad--xxl">
  <div class="width width--lg text--center text--xxl">
    <p>{{page.intro}}</p>
  </div>
</div>

{% include nav/page.html content=page.topics %}

{% for topic in page.topics %}
  <div id="{{topic.id}}" class="vpad--xxxl{% cycle '', ' bg--grey-lightest' %} bg__fixed">
    <div class="bg__fixed-wrap">
      <div class="bg__fixed-img" style="background-image: url('{{site.img}}/content/{{page.id}}/{{topic.id}}/bg.jpg');"></div>
    </div>
    <div class="container">
      <h2 class="title title--xxl text--blue">{{topic.title}}</h2>
      <p class="text--xxl">{{topic.description}}</p>
      <div class="space--xxl"></div>
      <div class="row row--4-4-4 row--gutters-lg">
        {% for poi in topic.pois %}
          <div class="col">
            <div class="bg-img bg-img--3-2" style="background-image: url('{{site.img}}/content/{{page.id}}/{{topic.id}}/{{poi.id}}.jpg');">
              <a href="{{topic.link}}" class="bg-img__link"></a>
              {% if poi.included %}<div class="bg-img__tag included-tag">All included</div>{% endif %}
            </div>
            <div class="space--md"></div>
            <h3 class="title title--xs">{{poi.title}}</h3>
            <p>{{poi.description}}</p>
          </div>
        {% endfor %}
      </div>
      <div class="space--xl text--center">
        <a href="{{topic.link}}" class="btn btn--cyan">Find Out More</a>
        <p class="text--sm">onboard features vary by ship</p>
      </div>
    </div>
  </div>
{% endfor %}