---
layout: default
id: caribbean
title: Caribbean
nav: true
nav-order: 2
content-pages: true

intro: Unpick just a selection of the islands you could visit with Royal Caribbean below. Whether you’re dreaming of breathtaking beaches and tropical interiors, or you’re thinking of famous jerk and sweet rum, get there with Royal Caribbean...
overview-intro: Find out more about our favourite Caribbean islands, just a selection of those you can visit with a Royal Caribbean cruise...

banner:
  title-sup: Explore the
  title: Caribbean


destinations:

  - id: antigua
    title: Antigua
    intro: A patchwork of colourful villages give way to sheltered coves, turquoise waters and irresistible beaches...
    description: Antigua was the jet-set destination of the 1950s and ‘60s, a smart getaway for tropical luxury. Now, the footfall is lesser than those halcyon days, offering an untouched quality to this remarkable island. Its beauty is renowned – bright, multicoloured villages line breathtaking bays, colonial harbours host al fresco dining and late-night bars, all on an island that is well-versed in offering old-age glamour to savvy travellers.
    link: https://www.royalcaribbean.co.uk/holiday-destinations/caribbean-holidays/antigua?cid=UKRCIBN_SecretEscapes_LandingPage&phone=dispoth

    excursions: Swim with majestic stingrays or adventure into the rainforest on a 4x4 safari…

    pois:

      - id: half-moon-bay
        title: Half Moon Bay
        description: This crescent shaped bay is a true paradise on the eastern shores of Antigua. A natural sanctuary, it is often lauded as one of the most beautiful beaches in the world. Sink back into the white sands, and while away the day in a truly serene setting. The water is irresistibly clear and warm and the scene every bit perfect. One of the Caribbean’s best beauty spots.

      - id: frigate-bird-sanctuary
        title: Frigate Bird Sanctuary
        description: Head for Codrington Lagoon and take a boat through this remarkable protected estuary. A licensed sea taxi is the only way to reach this remote National Park, home to one of the world’s largest colonies of frigatebirds. As you glide through, a chorus of chirps and squawks fills the air. These exotic, rather odd looking birds with their jet black feathers juxtaposed against their billowing, bright red necks, are spectacle not to be missed.

      - id: english-harbour
        title: English Harbour
        description: English Harbour offers a collection of tropical bays and coves, now frequented by luxury yachts and savvy holidaymakers. Old English forts like Fort Berkeley and Fort George line the coast, with a rich history waiting to be unpicked. A wealth of restaurants offer irresistible flavours, before sunday night parties start at the famous Lookout on Shirley Heights.

  - id: grenada
    title: Grenada
    intro: The island of spice and forests, a verdant Caribbean starlet of natural wonder.
    description: Get lost on its effortlessly beautiful beaches and explore the unique culture of Grenada in picture-perfect towns. A host of activities thrive here; try diving in some of the best spots in the Caribbean, or enjoy the beautiful walks and hikes through the tropical interior. Grenada is a spellbinding island awash with typical Caribbean charm by the bucket load.
    link: https://www.royalcaribbean.co.uk/holiday-destinations/caribbean-holidays/grenada?cid=UKRCIBN_SecretEscapes_LandingPage&phone=dispoth

    excursions: Discover Grenada’s most impressive sights with a knowledgeable guide, including the Dougaldston Spice Estate, Grand Etang Lake, Annandale Falls and Fort Frederick, or take a vintage vehicle ride around beautiful St. George’s.

    pois:

      - id: st-george-s
        title: St George’s
        description: Wonderfully picturesque, St George’s is a gorgeous harbour town where colourful Georgian architecture lines the edge of the Carenage inlet. Head for the shops and chic cafes, in awe at this town’s beauty. Settle on the bay with a rum punch or a coconut water and soak up the atmosphere of one of the prettiest towns in the Caribbean.

      - id: underwater-sculpture-park
        title: Underwater Sculpture Park
        description: An underwater art gallery awaits adventurers in the warm seas off Grenada’s coast. Around 80 works sit on the seabed, slowly being claimed by corals that add another layer of mystery to these sunken treasures. The best way to see these incredible sculptures is by scuba diving. An adventure not to be missed!

      - id: grand-etang-national-park
        title: Grand Etang National Park
        description: Head for the tropical rainforest for walks through beguiling scenery. An outdoor wonderland, the park  teems with unique wildlife and mesmerizing waterfalls. The epicentre is the Grand Etang lake which occupies a volcanic crater – it’s a truly spellbinding spot.

  - id: jamaica
    title: Jamaica
    intro: The loudest of all the islands, Jamaica is a joyful riot of culture, the land of wood and water.
    description: Rocksteady-saunter is framed by gorgeous countryside, cascading waterfalls and fiery cuisine. Whether it’s hanging out at a jerk spot tucking into the island’s famous oil-drum jerk with rice and peas, or sinking into white sand beaches under palm tree canopies, Jamaica is a heady mix of all the Caribbean’s best bits.
    link: https://www.royalcaribbean.co.uk/holiday-destinations/caribbean-holidays/jamaica?cid=UKRCIBN_SecretEscapes_LandingPage&phone=dispoth

    excursions: Explore the sublime Dunn’s River Falls and Green Grotto Caves, head for Reggae Hill and dine to the sweet island rhythms, or relax with entertainment at the Bamboo Beach Club.

    pois:

      - id: the-music
        title: The music
        description: Music is impossible to ignore in Jamaica. It shakes dance halls when the sun goes down, it wakes you up from corner sound systems playing oldies, and it spills from the record shops still harbouring coveted island classics. From ska to rocksteady, rub a dub to dancehall, music is Jamaica’s lifeblood – get in the dance.

      - id: river-rafting
        title: River Rafting
        description: Head over to the Martha Brae River to sample the sublime delights of Jamaica’s riverways. With a simple bamboo raft gliding across the water, you’ll revel in the idyllic scenery of the island’s interior. Stop off at swimming spots or take a guide through a network of impressive caves that line parts of the river. With a Red Stripe in hand, rafting down Martha Brae is an unforgettable experience.

      - id: blue-mountain-peak
        title: Blue Mountain Peak
        description: A long, winding trail through a verdant mountain landscape ranks high on the list of unmissable things to do in Jamaica. The tallest peak on the island, Blue Mountain, offers a remarkable and unique array of flora and fauna with typical tropical charms – an unmissable event for lovers of the outdoors.

  - id: st-lucia
    title: St Lucia
    intro: This volcanic outcrop harbours a lush rainforest interior that makes St Lucia an island of outdoor wonders.
    description: Away from the rich interior, the coastline hides a wealth of gorgeous beaches. Explore pastel towns and prop up at the iconic rum shacks, soaking up the enviable lifestyle of St Lucia’s hospitable locals. From idyllic bays to botanical gardens, St Lucia is a true island paradise.
    link: https://www.royalcaribbean.co.uk/holiday-destinations/caribbean-holidays/st-lucia?cid=UKRCIBN_SecretEscapes_LandingPage&phone=dispoth

    excursions: Take a guided tour of Diamond Beach Botanical Gardens and a steaming volcanic crater, or enjoy a coastal cruise to the magnificent Pitons and a Segway adventure on St Lucia’s beautiful nature trails...

    pois:

      - id: soufriere-the-pitons
        title: Soufrière & The Pitons
        description: Soufrière is a  technicolour seaside town, with weathered colonial facades making an afternoon stroll irresistibly charming. Shadowed by the island’s icons, the Pitons, Soufrière is a bustling yet relaxed town where rum shacks invite pit-stops packed with local flavour. Surrounded by lush rainforest, don’t miss this urban idyll.

      - id: diamond-falls-botanical-gardens-mineral-baths
        title: Diamond Falls Botanical Gardens & Mineral Baths
        description: Bestowed to the three brothers Devaux by King Louis XIV, this vast estate is a verdant, tropical sprawl, with wild gardens ready to explore. See spellbinding waterfalls and discover unique flora & fauna. Dip into the natural mineral baths for a truly sumptuous experience.

      - id: marigot-bay
        title: Marigot Bay
        description: This idyllic natural bay is an unmissable St Lucian beauty spot. It’s a perfect picture of Caribbean charm, with tropical green hills surround a picturesque inlet. Head for the gorgeous beaches, before dining at sophisticated restaurants and buzzing bars.

  - id: barbados
    title: Barbados
    intro: Some of the Caribbean’s best beaches, rum, soca and spice – indulge in the Bajan way of life.
    description: It’s a way of life to envy for sure – first with a warm welcome, hearty generosity, and then the cultural nuances; from propping up at the famous rum bars, sinking into the beaches and staying late at the fish fry, dancing to calypso. Over 92 km of unspoilt coastline makes Barbados a perfect escape for beach lovers, an island paradise that remains truly irresistible.
    link: https://www.royalcaribbean.co.uk/holiday-destinations/caribbean-holidays/barbados?cid=UKRCIBN_SecretEscapes_LandingPage&phone=dispoth

    excursions: Embark on a catamaran adventure in Turtle Bay, with a chance to snorkel and swim with the turtles, or take a coast-to-coast drive to see all that the island has to offer. Green monkeys await at the 4x4 rainforest adventure!

    pois:

      - id: rum-shacks
        title: Rum Shacks
        description: Barbados is the home of rum. A host of rustic rum shacks, colourfully-painted advertising local rums, dot the island. This is where the locals go for a pick-me-up; wash a fiery rum down with homemade flying fish and cou cou – taxi drivers will gladly offer you a tour of their favourite spots.

      - id: oistins-fish-fry
        title: Oistins Fish Fry
        description: Flames spit from oil drum barbecues, calypso bounces around a buzzing crowd, and the irresistible draw of various traders makes Oistins the only place to go on a Friday night. Pick from a host of vendors, each rumoured to have the best flying fish, or mac pie, or swordfish – you get the picture. Great food, an electric atmosphere and a Bajan institution.

      - id: swim-with-turtles
        title: Swim with Turtles
        description: Take a boat to the waves and explore hidden coves. Take a dip in the balmy sea and peer into the depths to spot majestic turtles gliding all around. One of those bucket-list things to do, be sure to pick an ethical tour operator – like Barbados Blue – to ensure the ongoing conservation of these incredible sea creatures.
---

<div class="container vpad--xxl">
  <div class="width width--lg text--center text--xxl">
    <p>{{page.intro}}</p>
  </div>
  <div class="space--lg"></div>
  <div class="width width--lg boxpad--lg bg--special">
    <div class="row row--valign-center row--gutters-sm">
      <div class="col col--lg-5">
        <div class="bg-img bg-img--16-9 bg-img--lg-1-1" style="background-image: url('{{site.img}}/content/{{page.id}}/cococay.jpg');">
          <a href="https://www.royalcaribbean.co.uk/holiday-destinations/bahamas-bermuda/bahamas/cococay/?cid=UKRCIBN_SecretEscapes_LandingPage&phone=dispoth" class="bg-img__link"></a>
        </div>
      </div>
      <div class="col col--lg-7 text--left">
        <h3 class="title title--xxs text--blue">Perfect day at CocoCay</h3>
        <p class="text--sm">Don’t miss your chance to escape to Royal Caribbean's very own private island! Experience your Perfect Day on CocoCay, set in the gorgeous seas of the Bahamas. Chill or thrill in this private beach resort, whizzing through the waves on a jet ski, soaring in the skies in a helium balloon or relishing the views from your idyllic overwater cabana.</p>
        <div class="space--xs"></div>
        <a href="https://www.royalcaribbean.co.uk/perfect-day-cococay/" class="btn btn--xs btn--outline btn--outline-cyan">Explore Now</a>
      </div>
    </div>
  </div>
</div>

{% include nav/page.html content=page.destinations %}

{% for destination in page.destinations %}
  <div id="{{destination.id}}" class="vpad--xxxl{% cycle '', ' bg--grey-lightest' %} bg__fixed">
    <div class="bg__fixed-wrap">
      <div class="bg__fixed-img" style="background-image: url('{{site.img}}/content/{{page.id}}/{{destination.id}}/bg.jpg');"></div>
    </div>
    <div class="container">
      <h2 class="title title--xxl">{{destination.title}}</h2>
      <p class="text--xxl">{{destination.intro}}</p>
      <p>{{destination.description}}</p>
      <p>Book your own {{destination.title}} shore excursion with Royal Caribbean! {{destination.excursions}}</p>
      <div class="space--sm"></div>
      <a class="btn btn--sm btn--outline btn--outline-cyan" href="https://www.royalcaribbean.co.uk/discover-cruise-holidays/shore-excursions/">Book a shore excursion</a>
      <div class="space--xxl"></div>
      <div class="row row--4-4-4 row--gutters-lg">
        {% for poi in destination.pois %}
          <div class="col">
            <div class="bg-img bg-img--3-2" style="background-image: url('{{site.img}}/content/{{page.id}}/{{destination.id}}/{{poi.id}}.jpg');">
              <a href="{{destination.link}}" class="bg-img__link"></a>
            </div>
            <div class="space--md"></div>
            <h3 class="title title--xs">{{poi.title}}</h3>
            <p>{{poi.description}}</p>
          </div>
        {% endfor %}
      </div>
      <div class="space--xl text--center">
        <a href="{{destination.link}}" class="btn btn--cyan">See {{destination.title}} cruises</a>
      </div>
    </div>
  </div>
{% endfor %}