<div class="offer-rc">
  <a id="track-rc-offer-{{offer.id}}" class="offer-rc__link" href="{{offer.link}}"><span class="btn btn--yellow">Book Now</span></a>
  <div class="bg-img bg-img--3-2" style="background-image: url('{{site.img}}/offers/{{offer.id}}.jpg')"></div>
  <div class="offer-rc__content">
    <h3 class="offer-rc__title">{{offer.title}}</h3>
    <h4 class="offer-rc__sub-title"><span class="offer-rc__sub-title--bold">{{offer.nights}} nights</span> – {{offer.ship}}<sup>®</sup></h4>
    <div class="space--sm"></div>
    <div class="offer-rc__itinerary ">
      {% for item in offer.itinerary %}{{item.content}}{% unless forloop.last %}<span class="offer-rc__itinerary-separator">, </span>{% endunless %}{% endfor %}
    </div>
    <div class="space--xxs text--sm">Departs on <span class="text--bold">{{offer.departure-date}}</span></div>
    <div class="offer-rc__bottom">
      <div class="offer-rc__bottom-left">
        <div class="offer-rc__details">
          <div class="text--sm">Cruise only from<span class="offer-rc__price"> £{{offer.price}}<sup>*</sup></span> per person</div>
          {% if offer.has-spending-money %}<div class="spending-money text--sm">includes $300 onboard spend*</div>{% endif %}
        </div>
      </div>
      <div class="offer-rc__bottom-right">
        <div class="offer-rc__arrow"></div>
      </div>
    </div>
  </div>
</div>